<div class="flex flex-col flex-auto min-w-0 bg-white">

    <app-navbar></app-navbar>
    <section class="banner container flex flex-wrap items-center justify-around  mx-auto">
        <div class="banner-text">
            <h2 class="banner-title">CareerVerse</h2>
            <p class="banner-p">Explore | Experience | Connect</p>
            <form>
                <label for="getStarted"
                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">admin01@gmail.com</label>
                <div class="relative">
                    <input type="getStarted" id="getStarted"
                        class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                        placeholder="admin01@gmail.com" required>
                    <button type="submit" [routerLink]="['/home/selectuser']"
                        class="text-white absolute right-2.5 bottom-2.5 bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Get
                        Started</button>
                </div>
            </form>

        </div>
        <div class="banner-img">
            <img class="object-cover h-128" src="../../../../assets/images/ui/Home/building.png" alt="">

        </div>


    </section>

    <app-footer></app-footer>

</div>