.banner-title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
}
.banner-p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
}
