<div class="flex flex-col flex-auto min-w-0 bg-white building-page"><app-header></app-header>

    <h2 class="text-center ">Choose a building to represent</h2>
    <div class="img-cards flex items-center justify-center ">
        <div class="">
            <div class="card object-cover m-8"><img class="h-56"
                    src="../../../../../assets/images/ui/Home/building1.png" alt=""></div>
            <div class="card object-cover m-8"><img class="h-56"
                    src="../../../../../assets/images/ui/Home/building3.png" alt=""></div>
        </div>

        <div class="">
            <div class="card object-cover m-8"><img class="h-56"
                    src="../../../../../assets/images/ui/Home/building2.png" alt=""></div>
            <div class="card object-cover m-8"><img class="h-56"
                    src="../../../../../assets/images/ui/Home/building4.png" alt=""></div>
        </div>
    </div>
    <div class="flex justify-end mx-32 mb-32">
        <button type="submit "
            class="text-white bg-black hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-48 float-right px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            [routerLink]="['/home/career']">Continue</button>
    </div>

</div>