@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Secular+One&display=swap");

.nav-title {
    font-size: 30px;
    font-family: "Anton", sans-serif;

    font-family: "Secular One", sans-serif;
    font-family: "Poppins", sans-serif;
    margin-right: 80px;
}
.nav-items {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.nav-btns {
    font-size: 20px;
}
