<footer class="footer bg-gray-300">

    <div class="container">
        <h2 class="career">CareerVerse</h2>
        <br>
        <div class="row">

            <div class="footer-col">
                <ul>
                    <li>Privacy Statements</li>
                    <br>
                    <li>Teams and Conditions</li>
                    <br>
                    <li>Cookie Preferences</li>

                </ul>
            </div>
            <div class="vertical"></div>
            <div class="footer-col">

                <p class="footer-company-about">
                <ul>
                    <li><u>Contact us</u></li>
                    <br>
                    <li><u>Social Media:</u></li>
                    <div class="footer-icons">
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a hhrref="#"><i class="fab fa-instagram"></i></a>
                        </li>
                    </div>
                </ul>



            </div>
            <div class="vertical1"></div>
            <div class="grid-container">
                <ul>
                    <div class="popular">


                        <p>Popular Links:</p>
                    </div>

                    <div class="grid-container1">

                        <div class="item1">About Us</div>
                        <div class="item2">Product</div>
                        <div class="item3">Mission</div>
                        <div class="item4">Solution</div>
                    </div>
                </ul>
            </div>

        </div>
        <br><br><br><br>
        <p class="text-center text-white">Address I Year Rights Reserved</p>
    </div>

</footer>