<div class="flex flex-col flex-auto min-w-0 bg-white career-page">
    <app-header></app-header>
    <h2 class="text-center ">Choose a building to represent</h2>
    <div class="cards mx-32 mt-8 grid grid-rows-5 grid-flow-col gap-4">
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>
        <div class="card rounded-3xl">
            <div class="flex">
                <img class="w-1/4 ml-4 p-4" src="../../../../../assets/images/ui/Home/user2.png" alt="">
                <div class="border border-2 border-gray-300 "></div>
                <div class="flex items-center justify-center">
                    <p class="underline ml-4">Career Path</p>
                </div>
            </div>
        </div>

    </div>
    <div class="flex justify-end mx-32 mb-32 mt-16">
        <button type="submit " class="text-black  hover:bg-gray-800 underline  mr-8"
            [routerLink]="['/home/welcome']">Skip
            for
            now</button>
        <button type="submit "
            class="text-white bg-black hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-48 float-right px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            [routerLink]="['/home/welcome']">Continue</button>
    </div>
    <app-footer></app-footer>
</div>